<tr class="border-b border-gray-200 rounded-lg relative">
  <td class="p-4">
    <div class="flex items-center gap-4 relative z-0">
      <span class="text-gray-500">
        <i class="fa-solid fa-bell"></i>
      </span>
      <div class="flex-grow">
        <h3 class="text-lg font-semibold <%= 'font-bold' if notification.unread? %>">
          <%= link_to notification.title, notification.url, class: "hover:text-blue-500", target: "_blank", data: { action: "click->refresh#refresh" } %>
        </h3>
        <div class="text-sm text-gray-600">
          <%= notification.repository_name %> • <%= notification.type %> • Updated <%= time_ago_in_words(notification.updated_at) %> ago
        </div>
      </div>
      <span class="px-3 py-1 text-sm font-medium rounded-full <%= notification.reason_color %> text-white">
        <%= notification.reason %>
      </span>
    </div>
  </td>
</tr>
